* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
        text-align: center;
    
}


      #largeImage {
         width: 200px; height: 200px;
      }
.contents {
	margin-top: 30px;
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:25px;
	color:#fff;
}